.box{
    /* margin-top: 10px; */
    /* padding: 10px 30px 40px 50px; */
    /* margin: 10px 20px 30px; */
    height:100px;
    width: 100px;
    background-color: red;
}

/* p span{
    color: red;
    background-color: black;
} */